// Fonts
$text-font-family: Merriweather, Georgia, serif;
$heading-font-family: Lato, Helvetica, sans-serif;
$code-font-family: 'Source Code Pro', 'Lucida Console', monospace;

// Colors
$bg-color: #faebd7 !default;
$fg-color: #808080 !default;
$alt-bg-color: #fffff2 !default;
$alt-fg-color: #696969 !default;
$link-color: #a0522d !default;

// Colors dark
$bg-color-dark: #292a2d !default;
$fg-color-dark: #a9a9b3 !default;
$alt-bg-color-dark: #3b3d42 !default;
$alt-fg-color-dark: #a9a9b3 !default;
$link-color-dark: #73747b !default;
